
.loginButton.MuiButtonBase-root.MuiButton-root:hover {
  color: white;
}
.signupButton.MuiButtonBase-root.MuiButton-root:hover {
  color: white;
}
#header {
  position: fixed;
  z-index: 999;
}

